<table>
  <tr>
    <th style="width: 60%"></th>
    <th style="width: 20%"></th>
    <th style-"width: 10%"></th>
  </tr>
  <% @cart_items.each do |item| %>
    <tr>
      <td><p><%= item.product.name %></p></td>
      <td><p>$ <%= item.unit_price %></p></td>
      <td><%= link_to "Remove", cart_item_path(item), method: :delete, data: { confirm: "Are you sure?" } %></td>
    </tr>
  <% end %>
</table>
